{%extends 'base.html'%}
{% load static %}
{%block title%}
{{object.firstName}}
{%endblock title%}
{%block content%}
{%include 'includes/header.html'%}
<div class="container align-center grid-x">
    <div class="card small-3" style="background-color: #9f9d;">
        <div class="card-divider row " style="background-color: #9f9d;">
            <h2>{{object.firstName }}</h2>
        </div>

        {% if employee.photo%}
        <img src="{{employee.photo.url}}" style="height: 20rem;">
        {% else %} <img src="{% static 'img/pDefault.webp' %}"  style="height: 20rem;">
        {% endif %}

        <div class="card-section  grid-y grid-padding-x align-center-middle text-center">

            <p class="cell">Apellido(s) {{employee.lastName}}</p>
            <p class="cell">Email: {{employee.email}}</p>
            <p class="cell">Departamento: {{employee.dep.shortName}}</p>
            <p class="cell">Habilidades</p>
            <div class="cell grid-x grid-margin-x">
                
                {% for h in employee.skill.all %}
                    <p class="cell medium-4 label secondary">{{h}}</p>
                {% endfor %}
                    
            </div>
                    
            </ul>
        </div>
    </div>

</div>

{%endblock content%}