<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del empleado</title>
</head>
<body>
    <h2>Detalles De Un Empleados</h2>
    {{employee}}
    <h3>Todos los datos</h3>
    <p>Nombre: {{employee.firstName}}</p>
    <p>Apellido(s) {{employee.lastName}}</p>
    <p>Email: {{employee.Email}}</p>
    <p>Trabajo: {{employee.job}}</p>
    <p>Departamento: {{employee.dep}}</p>
    <p> {{Titulo}}</p>
        
</body>
</html>