{%extends 'base.html'%}

{%block title%}
Lista Emp
{%endblock title%}
{%block content%}

<!-- <ul>
{% for employee in employees  %}
<li>{{employee.firstName}}</li>
{% endfor %}
</ul> -->
{%include 'includes/header.html'%}
<div class="grid-container">
  <div class="grix-x">
    <h2 class="cell">Lista De Empleados</h2>
    <div class="cell grid-x grid-margin-x">
      <form method="get" class=" grid-x grid-margin-x">{%csrf_token%}
        <div class="cell large-10">
          <input type="text" name="search_emp" id="search_emp" placeholder="Buscar Empleado Por Nombre">
        </div>
        <div class="cell large-2">
          <button class="button success" id="search" name="search" type="submit">Buscar</button>
        </div>
      </form>
      <div class="cell">
        <table>
          <tr>
            <td>ID</td>
            <td>Nombre(s)</td>
            <td>Apellido(s)</td>
            <td>Email</td>
            <td>Dep</td>
            <td>Accion</td>
          </tr>
          {% for employee in employees %}
          <tr>
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.dep}}</td>
            <td><a class="button warning" href="{%url 'emp_app:detail' employee.id%}" id="emp_view"
                name="emp_view">Ver</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% if is_paginated %}
  <nav>
    <ul class="pagination text-center">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number}}" aria-label="Page">Antes</a></li>

      {% endif %}
      {% for i in paginator.page_range %}


      {% if i == page_obj.number %}

      <li class="current"><span class="show-for-sr"></span>{{i}}</li>
      {% else %}
      <li><a href="?page={{i}}" aria-label="Page">{{i}}</a></li>
      {% endif %}


      {% endfor %}
      {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}">Siguiente
      </li>
      {% else %}

      {% endif %}
    </ul>
  </nav>
  {% endif %}

  {%endblock content%}