<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h2>Buscador</h2>
    <form method="get"> {% csrf_token %}
        <label for="search">Buscador:</label>
        <input type="text" id="search" name="search" class="search">
        <input type="submit" value="Enviar">
    </form>
    <h2>Empleado</h2>
    
    {% for e in employees %}
       {{e}}
    {% endfor %}
        
</body>
</html>