{%extends 'base.html'%}
{%block title%}
{% load static %}
Actualizar Empleado
{%endblock title%}
{%block content%}
{%include 'includes/header.html'%}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <h2 class="cell">
                Modificar Campos De: {{object.firstName}} {{object.lastName}}
            </h2>

            <div class="large-6 cell">
                <label>Email:
                    {{form.email}}
                </label>
            </div>
            <div class="large-6 cell">
                <label>Puesto:
                    {{form.job}}
                </label>
            </div>
            <div class="large-6 cell">
                <label>Departamento:
                    {{form.dep}}
                </label>
            </div>
            <div class="large-12 cell ">
                <label>Habilidad:
                    {{form.skill}}
                </label>
            </div>
            <div class="large-12 grid-x ">
                
            </div>
            <div class="cell ">
                <button class="button success" type="submit">Success</button>
            </div>
        </div>
    </div>
</form>
{%endblock content%}