<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleado Por Area</title>
</head>
<body>
    <h1>Empleado por area</h1>
    {% for employee in employees %}
      {{employee.firstName}}
      {{employee.lastName}}
      {{employee.dep}}
    {% endfor %}
    <table>
        <tr>
            <td>ID</td>
            <td>Nombre(s)</td>
            <td>Apellido(s)</td>
            <td>Area</td>
        </tr>
        
            {% for employee in employees %}
            <tr>
              <td>{{employee.id}}</td>
              <td>{{employee.firstName}}</td>
              <td>{{employee.lastName}}</td>
              <td>{{employee.dep}}</td>
            </tr>
            {% endfor %}
        
    </table>
</body>
</html>