{% extends 'base.html' %}
{% block title %}
Registro De Departamento
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}

<h2>Registar Un Departamento</h2>
<div class="grid-container">
    <form method="post" class="grid-x grid-margin-x">{% csrf_token %}
        <h3 class="cell">Nombre Del Empleado</h3>
        
        <div class="cell large-4">
            <label for="id_firstName">Nombre: </label>{{form.firstName}}
        </div>
        <div class="cell large-4">
            <label for="id_lastName">Apellido(s): </label>{{form.lastName}}

        </div>
        <div class="cell large-4">
            <label for="id_email">Email: </label>{{form.email}}

        </div>
        <h3 class="cell">Nombre Del Departamento</h3>
        <div class="cell large-4">
            <label for="id_dep">Nombre Del Departamento: </label>{{form.dep}}

        </div>
        <div class="cell large-4">
            <label for="id_shortName">Nombre Corto: </label>{{form.shortName}}

        </div>
        <div class="cell large-12">
            <input class="button success" style="color: azure;" type="submit" value="Registar">
        </div>
    </form>
</div>

{% endblock content %}
    
    |