<!--Aqui se carga los archivos estaticos-->
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
</head>
<body>
    <h1>Usando css foundation</h1>
    <div class="grid-container fluid grid-x">
        <h2 class="cell">Elemento a</h2>
        <h2 class="cell">Elemento b</h2>
        <h2 class="cell">Elemento c</h2>
    </div>
</body>
</html>