<!--Aqui se carga los archivos estaticos-->
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Aqui se recargan los estilos del styles.css-->
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
</head>
<body>
    <div class="ejemplo1">
        holaaaa
    </div>
    <div class="ejemplo2">
        soy un div
    </div>
    {{lista_prueba}}
</body>
</html>